In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import tensorflow  
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.metrics import Accuracy
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

 # Binary Classification

In [2]:
df = sns.load_dataset("titanic")
df.head(5)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [3]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [4]:
df = df.drop(["age","embarked","deck","embark_town"],axis=1)

In [5]:
df.dtypes

survived         int64
pclass           int64
sex             object
sibsp            int64
parch            int64
fare           float64
class         category
who             object
adult_male        bool
alive           object
alone             bool
dtype: object

In [6]:
cat_cols = df.select_dtypes(include=("object","category","bool"))
num_cols = df.select_dtypes(include=("int64","float64"))

In [7]:
for column in cat_cols:
    df[column] = LabelEncoder().fit_transform(df[column])

In [8]:
for column in num_cols:
    df[column] = MinMaxScaler().fit_transform(df[[column]])

In [9]:
df.head(5)

,survived,pclass,sex,sibsp,parch,fare,class,who,adult_male,alive,alone
0,0.0,1.0,1,0.125,0.0,0.014151,2,1,1,0,0
1,1.0,0.0,0,0.125,0.0,0.139136,0,2,0,1,0
2,1.0,1.0,0,0.000,0.0,0.015469,2,2,0,1,1
3,1.0,0.0,0,0.125,0.0,0.103644,0,2,0,1,0
4,0.0,1.0,1,0.000,0.0,0.015713,2,1,1,0,1

In [10]:
y = df.survived.values
x = df.drop(["survived"],axis=1)

In [11]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.25, random_state=149)

In [12]:
x_train.shape

(668, 10)

In [13]:
y_train = to_categorical(y_train)
y_test = to_categorical(y_test)

In [14]:
model = Sequential()
model.add(Dense(50,input_shape=(10,),activation="tanh"))
model.add(Dense(2,activation="sigmoid"))
model.compile(optimizer="sgd",loss="binary_crossentropy",metrics=["accuracy"])
model.fit(x_train,y_train,epochs = 20)

Epoch 1/20
21/21 [==============================] - 0s 2ms/step - loss: 0.6616 - accuracy: 0.6572
Epoch 2/20
21/21 [==============================] - 0s 1ms/step - loss: 0.6274 - accuracy: 0.6886
Epoch 3/20
21/21 [==============================] - 0s 1ms/step - loss: 0.6016 - accuracy: 0.6961
Epoch 4/20
21/21 [==============================] - 0s 1ms/step - loss: 0.5808 - accuracy: 0.7096
Epoch 5/20
21/21 [==============================] - 0s 1ms/step - loss: 0.5627 - accuracy: 0.7515
Epoch 6/20
21/21 [==============================] - 0s 1ms/step - loss: 0.5465 - accuracy: 0.7515
Epoch 7/20
21/21 [==============================] - 0s 1ms/step - loss: 0.5316 - accuracy: 0.7545
Epoch 8/20
21/21 [==============================] - 0s 1ms/step - loss: 0.5178 - accuracy: 0.7560
Epoch 9/20
21/21 [==============================] - 0s 1ms/step - loss: 0.5046 - accuracy: 0.7560
Epoch 10/20
21/21 [==============================] - 0s 1ms/step - loss: 0.4922 - accuracy: 0.7814
Epoch 11/20
21/21 [==============================] - 0s 1ms/step - loss: 0.4803 - accuracy: 0.7919
Epoch 12/20
21/21 [==============================] - 0s 1ms/step - loss: 0.4690 - accuracy: 0.7919
Epoch 13/20
21/21 [==============================] - 0s 762us/step - loss: 0.4582 - accuracy: 0.7934
Epoch 14/20
21/21 [==============================] - 0s 1ms/step - loss: 0.4477 - accuracy: 0.7979
Epoch 15/20
21/21 [==============================] - 0s 1ms/step - loss: 0.4377 - accuracy: 0.7979
Epoch 16/20
21/21 [==============================] - 0s 1ms/step - loss: 0.4279 - accuracy: 0.8054
Epoch 17/20
21/21 [==============================] - 0s 809us/step - loss: 0.4184 - accuracy: 0.8069
Epoch 18/20
21/21 [==============================] - 0s 1ms/step - loss: 0.4092 - accuracy: 0.8204
Epoch 19/20
21/21 [==============================] - 0s 1ms/step - loss: 0.4003 - accuracy: 0.8323
Epoch 20/20
21/21 [==============================] - 0s 1ms/step - loss: 0.3916 - accuracy: 0.8428